#:schema node_modules/wrangler/config-schema.json
name = "messenger"
main = "src/index.ts"
compatibility_date = "2023-05-18"
compatibility_flags = [ "nodejs_compat" ]

[vars]
AWS_REGION = "us-west-2"

[observability]
enabled = true
head_sampling_rate = 1

[[d1_databases]]
binding = "DB"
database_name = "messenger"
database_id = "20fac7ee-550b-465f-a71c-c3deeee18d56"

# Cron Triggers
# Docs: https://developers.cloudflare.com/workers/platform/triggers/cron-triggers/
# Configuration: https://developers.cloudflare.com/workers/wrangler/configuration/#triggers
[triggers]
crons = [
  "*/5 * * * *",    # Process scheduled and retry emails every 5 minutes
  "57 23 * * *"     # Generate mail reports daily at 23:57
]

[placement]
mode = "smart"